<h2>Contents</h2>
<p>
Every output parameter is represented by a read-only file. The directory is empty
until the action has been executed.
</p>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>Name</th>
        <th>Label</th>
        <th>Data type</th>
        <th>Description</th>
    </tr>
    <% @c.parameters.each do |name, desc| %>
        <tr>
            <td><%= name %></td>
            <td><%= desc[:label] %></td>
            <td><%= desc[:type] %></td>
            <td><%= desc[:description] %></td>
        </tr>
    <% end -%>
</table>
