<p><%= @c.resource.description[:description] %></p>
<h2>Contents</h2>
<p>
This directory contains a list of objects as it is returned by the API server
using action <code>Index</code>. Special directories
<code>by-&lt;input_parameter&gt;/&lt;value&gt;</code>
representing input parameters of action <code>Index</code> can be used to filter the output.
</p>
<p>
Actions that are operating on resource-level, i.e. they are not taking object
id as an argument are in subdirectory <a href="actions/help.html">actions/</a>.
</p>
