<h2>Contents</h2>
<p>
This directory contains a list of actions that are operating on
<%= @c.instance? ? 'instance-level' : 'resource-level' %>.
</p>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>Action</th>
        <th>Description</th>
    </tr>
    <% @c.relevant_actions.each do |name| %>
        <% a = @c.resource.actions[name] -%>
        <tr>
            <th><a href="<%= name %>/help.html"><%= name %></a></th>
            <td><%= a.description %></td>
        </tr>
    <% end %>
</table>
